* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fafafa;
	font-size: 18px;
}

h1, h2, h3, p {
	color: #24292e;
}

h1, h2, h3 {
	font-weight: bold;
}

h2, h3 {
	font-family: 'Galdeano', sans-serif;
}

h1 {
	font-size: 2.25em;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.4em;
	text-transform: uppercase;
}

p {
	font-family: 'Helvetica', sans-serif;
}

ul {
	list-style-type: none; 
}

li {   
	display: inline;
}

#cience{
	color: red;
	font-weight: bold;
}

.date {
	color: #808080;
	font-size: 0.75em;
	margin-bottom: 30px;
}

.hr-footer {
	margin-top: 45px;
	border: 0.5px solid #808080;
	width: 80%;
	opacity: 0.3;
}

.source-code {
	margin-top: 25px;
}


.copyright {
	width: 100%;
	text-align: center;
}
